[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
dlib = "==19.19.0"
Flask = "*"
Pillow = "*"
face_recognition = "*"
pytest = "*"

[requires]
python_version = "3.8"
