body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    padding: 0;
    margin: 0;
    color: #37392E;
    background-color: #f8f8f8;
}

header {
    text-align: center;
    background-color: #19647E;
    color: white;
    height: 24rem;
    background-image: url('../img/glasses.png');
    background-position: center 95%;
    background-repeat: no-repeat;
    background-size: 30%;
    line-height: 0.5;
    display: flex;
    flex-direction: column;
}

header h1 {
    font-size: 6rem;
    margin-bottom: 0;
    text-transform: uppercase;
    margin-bottom: 10px;
}

a {
    color: inherit;
    font-weight: 700;
    text-decoration: none;
}
a:hover {
    color: #28AFB0;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: auto;
    padding: 0 1rem;
}

.navigation li {
    display: inline;
    margin: 0 1rem;
}

.navigation {
    padding: 0;
    text-align: center;
}

section {
    margin: 2rem 0;
}

nav {
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 300;
}

footer {
    background-color: #37392E;
    color: #f8f8f8;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#forkongithub a {
    background: #37392E;
    color: #fff;
    text-decoration: none;
    font-family: arial, sans-serif;
    text-align: center;
    font-weight: bold;
    padding: 5px 40px;
    font-size: 1rem;
    line-height: 2rem;
    position: relative;
    transition: 0.5s;
}

#forkongithub a:hover {
    background: #28AFB0;
    color: #fff;
}

#forkongithub a::before,
#forkongithub a::after {
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    top: 1px;
    left: 0;
    height: 1px;
    background: #fff;
}

#forkongithub a::after {
    bottom: 1px;
    top: auto;
}

@media screen and (min-width:640px) {
    #forkongithub {
        position: absolute;
        display: block;
        top: 0;
        right: 0;
        width: 200px;
        overflow: hidden;
        height: 200px;
        z-index: 9999;
    }

    #forkongithub a {
        width: 200px;
        position: absolute;
        top: 60px;
        right: -60px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
    }
}


@media screen and (max-width: 640px) {
    main {
        font-size: 4vw;
    }

    #forkongithub {
        display: none;
    }

    nav {
        display: none;
    }

    header h1 {
        font-size: 3rem;
    }

    header h2 {
        font-size: 1rem;
    }

    header {
        height: 10rem;
    }
}