body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    padding: 0;
    margin: 0;
    color: #37392E;
    background-color: #f8f8f8;
}

header {
    text-align: center;
    background-color: #19647E;
    color: white;
    height: 24rem;
    background-image: url('../img/glasses.png');
    background-position: center 95%;
    background-repeat: no-repeat;
    background-size: 30%;
    line-height: 0.5;
    display: flex;
    flex-direction: column;
}

header h1 {
    font-size: 6rem;
    margin-bottom: 0;
    text-transform: uppercase;
    margin-bottom: 10px;
}

a {
    color: inherit;
    font-weight: 700;
    text-decoration: none;
}
a:hover {
    color: #28AFB0;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: auto;
    padding: 0 1rem;
    box-sizing: border-box;
}

.navigation li {
    display: inline;
    margin: 0 1rem;
}

.navigation {
    padding: 0;
    text-align: center;
}

section {
    margin: 2rem 0;
}

nav {
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 300;
}

footer {
    background-color: #37392E;
    color: #f8f8f8;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

img {
    width: 100%;
}

.showcase {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 -1rem;
}


.showcase-img {
    text-align: center;
    padding: 1rem;
    width: 50%;
    box-sizing: border-box;
}


#forkongithub a {
    background: #37392E;
    color: #fff;
    text-decoration: none;
    font-family: arial, sans-serif;
    text-align: center;
    font-weight: bold;
    padding: 5px 40px;
    font-size: 1rem;
    line-height: 2rem;
    position: relative;
    transition: 0.5s;
}

#forkongithub a:hover {
    background: #28AFB0;
    color: #fff;
}

#forkongithub a::before,
#forkongithub a::after {
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    top: 1px;
    left: 0;
    height: 1px;
    background: #fff;
}

#forkongithub a::after {
    bottom: 1px;
    top: auto;
}

@media screen and (min-width:640px) {
    #forkongithub {
        position: absolute;
        display: block;
        top: 0;
        right: 0;
        width: 200px;
        overflow: hidden;
        height: 200px;
        z-index: 9999;
    }

    #forkongithub a {
        width: 200px;
        position: absolute;
        top: 60px;
        right: -60px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
    }
}

pre {
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;   
}

input[type=text], select {
    padding: 1rem 1.2rem;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input {
    margin: 1rem 0;
    width: 100%;
}

input[type=button] {
    color: white;
    background-color: #19647E;
    width: 150px;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
}

input[type=button]:hover {
    background-color: #28AFB0;
}

.submit {
    text-align: center;
}

@-webkit-keyframes spin {
    to {
        stroke-dashoffset: -264;
    }
}

@keyframes spin {
    to {
        stroke-dashoffset: -264;
    }
}

.spinner circle {
    fill: none;
    stroke: slategray;
    stroke-width: 16;
    stroke-linecap: round;
    stroke-dasharray: 0, 0, 70, 194;
    stroke-dashoffset: 0;
    animation: spin 1s infinite linear;
    -webkit-animation: spin 1s infinite linear;
}

#loading {
    text-align: center;
    display: none;
    margin: 2rem 0;
}

#result {
    text-align: center;
    display: none;
}

#result-img {
    display: none;
    margin: 2rem 0;
}

@media screen and (max-width: 640px) {
    main {
        font-size: 4vw;
    }

    #forkongithub {
        display: none;
    }

    nav {
        display: none;
    }

    header h1 {
        font-size: 1rem;
        text-align: left;
        padding: 1.175rem;
        margin: 0;
    }

    header h2 {
        display: none;
    }

    header {
        height: 3rem;
        background-position: 95% center;
        display: absolute;
    }
    .showcase {
        flex-direction: column;
    }

    .showcase-img {
        width: 100%;
    }
}