<!doctype html>
<html>

<head>
    <title>Deal With It | Eric Magalhães</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}" type="image/png" sizes="16x16">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/styles/atom-one-dark.min.css">
</head>

<body>
    <span id="forkongithub"><a href="https://github.com/ericovis/deal_with_it">Fork me on GitHub</a></span>
    <header>
        <nav>
            <div class="container">
                <ul class="navigation">
                    <li><a href="#demo">Demo</a></li>
                    <li><a href="#api">API Docs</a></li>
                    <li><a href="#license">License</a></li>
                </ul>
            </div>
        </nav>
        <h1>Deal With It!</h1>
        <h2>A Python API for creating "Deal With It"-like Images</h2>
    </header>
    <main>
        <section id="demo">
            <div class="container">
                <h2>Demo</h2>
                <p>Either insert and valid image URL or click on "Choose File" to load a picture from your computer then
                    click on the "Deal with it!" button to see the API in action.</p>
                <div id="loading">
                    <svg class="spinner" viewBox="0 0 100 100" width="20" height="20">
                        <circle cx="50" cy="50" r="42" transform="rotate(-90,50,50)" />
                    </svg>
                </div>
                <div id="result">
                    <p id="message"></p>
                    <img id="result-img" alt="Deal with me">
                </div>
                <form action="/api" method="POST" id="form">
                    <label for="url">URL</label>
                    <input type="text" id="url" name="url" placeholder="https://example.com/image.png">
                    <input type="file" name="image" id="image">
                    <div class="submit">
                        <input type="button" value="Deal with It!" onclick="onSubmit()">
                    </div>
                </form>
            </div>
        </section>
        <section id="api">
            <div class="container">
                <h2>Api Docs</h2>
                <p>There is a simple REST api available at <a href="/api">/api</a> that receives a <b>POST</b> request
                    and expects either an <b>image</b> encoded in a Base64 string or an <b>url</b></p>

                <h4>Example payloads</h4>

                <pre><code class="json">
{
  "url": "https://emagalha.es/images/me.jpg"  
}
                </code></pre>
                <pre><code class="json">
{
  "image": "base64 string here"  
}
                </code></pre>


                <h4>Response</h4>

                <p>The API respondes with a Base64 encoded image like this:</p>
                <pre><code class="json">
{
  "image": "base64 string here"  
}
                </code></pre>



            </div>
        </section>
        <section id="license">
            <div class="container">
                <h2>License</h2>
                <p><a href="https://github.com/ericovis/deal_with_it/blob/master/LICENSE">MIT License</a></p>
            </div>
        </section>
    </main>
    <footer>
        <div class="container">
            &copy; 2018-2020 <a href="https://emagalha.es">Eric Magalhães</a></h4>
        </div>
    </footer>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/highlight.min.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>